<div class="row" *ngFor="let user of contato">
    <div class="offset-11 col-1 icon">
        <a [routerLink]="[ '/agenda/contato/editar', user.id ]">
            <i class="fas fa-edit"></i>
        </a>
        <i class="fas fa-trash-alt" (click)="excluir()"></i>
    </div>
    <div class="col-12">
        <div class="profile">
            <i class="fas fa-user"></i>
        </div>
        <p>{{ user?.nome }}</p>
        <p>{{ user?.canal }}</p>
        <div class="obs">
            <label for="">Observação</label>
            <p>
                {{ user?.obs }}
            </p>
        </div>
    </div>
</div>