<main>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>Bem-vindo ao aplicativo de agenda da Rede Globo</h1>
            </div>
            <div class="col-12">
                <p>
                    Aplicativo feito para você guardar seus contatos. Seja um telefone fixo, 
                    Whatsapp ou email, tenha todos eles sempre a mãos.
                    É só logar ou criar sua conta para começar!    
                </p>
            </div>
            <div class="offset-4 col-4">
                <i class="fas fa-address-book"></i>
            </div>
            <div class="col-12">
                <form action="">
                    <div class="row">
                        <div class="group-input col-12">
                            <label for="">Login</label>
                            <input type="text">
                        </div>
                        <div class="group-input col-12">
                            <label for="">Senha</label>
                            <input type="password">
                        </div>
                        <div class="link col-12">
                            <a href="#">Não tenho conta</a>
                        </div>
                        <div class="group-button col-4">
                            <button type="submit">Entrar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>